html, body {
margin: 0;
padding: 0;
width: 100%;
}

body {
font-family: "Helvetica Neue",sans-serif;
font-weight: lighter;

}

header {
width: 100%;
height: 100vh;
background: url(https://pbs.twimg.com/media/DeZGYLXW4AATYP6?format=jpg&name=medium) no-repeat 100% 100%;
background-size: cover;
}

.header-btn{
text-decoration: none;
font-size: 16px;
all: unset;
cursor: pointer;
}

.header-about{
margin-top: 0;
padding-top: 12%;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 30px;
}

.about-p{
font-family: 'Montserrat', sans-serif;
font-size: 22px;
}

.column {
flex: 50%;
height: 100vh;
}

.content-projects{
background-color: whitesmoke;
}

.content-contact{
text-align: center;
font-family: 'Montserrat', sans-serif;
background-color: grey;
height: 50px;
padding-top: 1%;
}

.content-contact p{
margin-block-end: 0;
margin-block-start: 0;
}

.row{
display:flex;
}

.icon{
height: 10px;
}


/* .content {
width: 94%;
margin: 4em auto;
font-size: 20px;
line-height: 30px;
text-align: justify;
} */

.logo {
line-height: 60px;
position: fixed;
float: left;
margin: 11px 46px;
color: #fff;
font-weight: bold;
font-size: 20px;
letter-spacing: 2px;
}

nav {
position: fixed;
width: 100%;
line-height: 60px;
}

nav ul {
line-height: 60px;
list-style: none;
background: rgba(0, 0, 0, 0);
overflow: hidden;
color: #fff;
padding: 0;
text-align: right;
margin: 0;
padding-right: 40px;
transition: 1s;
}

nav.black ul {
background: #000;
}

nav ul li {
display: inline-block;
padding: 0 40px;
}

nav ul li a {
text-decoration: none;
color: #fff;
font-size: 16px;
}

.div-ball{
height: 100%;
padding-top: 20%;
padding-bottom: 20%;
z-index: 2;
}
.nametag{
/* border-radius: 50%; */
border: 1px solid black; 
height: 100px;
width: 275px;
margin: 0 auto;
background-color: grey;
opacity: 0.5;
}
.nametag p {
text-align: center;
font-size: 32px;
font-family: 'Montserrat', sans-serif;
font-style: black;
}

.menu {
background-color: rgba(0, 0, 0, .6);
height: 45px;
padding: 1%;
}

.content-about{
text-align: center;
align-items: center;
width: 100%;
height: 100vh;
background-color: grey;
}

.content-about p{
padding-left: 28%;
padding-right:28%;
width: 44%;
}

.project-one-img{
width: 80%;
height: 65%;
padding-top: 20%;
padding-left: 10%;
}

.project-one-header{        
font-size: 24px;
padding-top: 20%;
text-align: center;

}
.project-one p{
padding-left: 10%;
width: 60%;
font-size: 20px;       
}
/* .menu-icon {
line-height: 60px;
width: 100%;
background: #000;
text-align: right;
box-sizing: border-box;
padding: 15px 24px;
cursor: pointer;
color: #fff;
display: none;
} */

@media(max-width: 786px) {

.logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
}

nav ul {
        max-height: 0px;
        background: #000;
}

nav.black ul {
        background: #000;
}

.showing {
        max-height: 34em;
}

nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
}

.menu-icon {
        display: block;
}

}